#
# Copyright (C) 2022 Paranoid Android
#
# SPDX-License-Identifier: Apache-2.0
#

on early-init
    # Audio
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules adsp_loader_dlkm apr_dlkm bolero_cdc_dlkm hdmi_dlkm machine_dlkm mbhc_dlkm native_dlkm pinctrl_lpi_dlkm pinctrl_wcd_dlkm platform_dlkm q6_dlkm q6_notifier_dlkm q6_pdr_dlkm rx_macro_dlkm snd_event_dlkm snd-soc-rt5683 stub_dlkm swr_ctrl_dlkm swr_dlkm tfa9874_dlkm tx_macro_dlkm usf_dlkm va_macro_dlkm wcd938x_dlkm wcd938x_slave_dlkm wcd9xxx_dlkm wcd_core_dlkm wsa_macro_dlkm

    # Aura
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules ene_6k582_station ene_8k41_dock ml51fb9ae_inbox ms51_inbox

    # Docking Station
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules ene_8k41_power ec_i2c_interface station_goodix_touch station_key

    # Fan
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules nct7802

on boot
    # Light
    chown system shell /sys/class/sensors/lsensor/adc
    chown system shell /sys/class/sensors/lsensor/cal
    chown system shell /sys/class/sensors/lsensor/read_reg
    chown system shell /sys/class/sensors/lsensor/selection
    chown system shell /sys/class/sensors/lsensor/switch
    chown system shell /sys/class/sensors/lsensor/write_reg
    chown system shell /sys/class/sensors/lsensor_2nd/adc
    chown system shell /sys/class/sensors/lsensor_2nd/cal
    chown system shell /sys/class/sensors/lsensor_2nd/selection
    chown system shell /sys/class/sensors/lsensor_2nd/switch

    # Proximity
    chown system shell /sys/class/sensors/psensor/hi_cal
    chown system shell /sys/class/sensors/psensor/inf_cal
    chown system shell /sys/class/sensors/psensor/load_cal
    chown system shell /sys/class/sensors/psensor/low_cal
    chown system shell /sys/class/sensors/psensor/proxm
    chown system shell /sys/class/sensors/psensor/read_reg
    chown system shell /sys/class/sensors/psensor/selection
    chown system shell /sys/class/sensors/psensor/switch
    chown system shell /sys/class/sensors/psensor/write_reg
    chown system shell /sys/class/sensors/psensor_2nd/hi_cal
    chown system shell /sys/class/sensors/psensor_2nd/inf_cal
    chown system shell /sys/class/sensors/psensor_2nd/load_cal
    chown system shell /sys/class/sensors/psensor_2nd/low_cal
    chown system shell /sys/class/sensors/psensor_2nd/proxm
    chown system shell /sys/class/sensors/psensor_2nd/read_reg
    chown system shell /sys/class/sensors/psensor_2nd/read_reg
    chown system shell /sys/class/sensors/psensor_2nd/selection
    chown system shell /sys/class/sensors/psensor_2nd/switch

on post-fs-data
    write /sys/class/sensors/psensor/load_cal 1
    write /sys/class/sensors/psensor_2nd/load_cal 1

service vendor.sensors-hal-2-0-multihal /vendor/bin/hw/android.hardware.sensors@2.0-service.multihal
    override
    class hal
    user system
    group system wakelock context_hub input
    writepid /dev/cpuset/system-background/tasks
    capabilities BLOCK_SUSPEND
    rlimit rtprio 10 10
