#
# Copyright (C) 2022 Paranoid Android
#
# SPDX-License-Identifier: Apache-2.0
#

# Firmware
firmware_directories /vendor/firmware/awinic
firmware_directories /vendor/firmware/q6_ZS661KS_sm8250_image
firmware_directories /vendor/firmware/rog2_haptic

# Sensors
/dev/lsensor        0640   system    system
/dev/psensor        0640   system    system
/dev/psensor_2nd    0640   system    system
